<!-- Display -->
<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>ข้อมูลตัดสต๊อกสินค้า</h2>
            </div>

            <div class="col-sm-6 d-print-none">
              <a href="#CutFgModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                <span>เพิ่ม</span></a>
                <a (click)="printPage()" class="btn btn-success" data-toggle="modal"><i
                  class="fas fa-print">&#xE147;</i> <span>พิมพ์</span></a>
            </div>
            <input class="form-control d-print-none" type="text" name="firstName" [(ngModel)]="goods_partNo" (ngModelChange)="Search()"
            placeholder="Enter Store Name to Search">
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                <p></p>
              </th>
              <th>Date </th>
              <th>Part No.</th>
              <th>Part Name.</th>
              <th> Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>
                <p></p>
              </td>
              <td>{{item.fgOut_date}}</td>
              <td>{{item.goods_partNo}}</td>
              <td>{{item.goods_name}}</td>
              <td>{{item.fgOut_qty}}</td>
              <td class="d-print-none">
                <a href="#editCutOutModal" (click)="onEdit(item)" class="edit" data-toggle="modal"><i
                    class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a href="#deleteCutFgModal" (click)="onDelete(item)" class="delete" data-toggle="modal"><i
                    class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>
          </tbody>
        </table>
  
      </div>
    </div>
  