<div class="container" style="padding-top: 100px; text-align: center;">
    <h1>ชนิดกระดาษลูกฟูกที่มีการใช้งานในปัจจุบัน</h1>
</div>
<div class="container" style="padding: 50px;">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;height: 30rem;">
                <img class="card-img-top" src="assets/picture/KA.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                    <h4>1. KA สีน้ำตาลทอง</h4>
                    <p>กระดาษ KA สีน้ำตาลทอง มีลักษณะที่หลายท่านอาจพบเห็นอยู่บ่อยครั้ง โดยจะเจอได้ตามซองจดหมาย
                        หรือซองเอกสารต่างๆอยู่บ่อยๆ นอกเหนือจากนั้น ยังเป็น เกรดกระดาษ Ka ยังถูกนิยมในมาใช้บรรจุสินค้า
                        ที่มีน้ำหนักมาก เหตุเพราะมีความแข็งแรงสูง และยังสามารถกันความชื้นอย่างดี
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;height: 30rem;">
                <img class="card-img-top" src="assets/picture/KS.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                    <h4>2. KS สีขาว</h4>
                    <p>กระดาษ KS สีขาว เป็นกระดาษที่มีความแข็งแรงเป็นพิเศษ นิยมนำมาใช้เป็นบรรจุภัณฑ์ ใส่ของ
                        และพัสดุต่างๆ นอกจากนั้นตัวผิวของกระดาษมีสีขาวเพื่อช่วยให้ดูสวยงาม สะอาดตา
                        และยังช่วยเพิ่มมูลค่าสินค้าได้อีกด้วย
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;height: 30rem;">
                <img class="card-img-top" src="assets/picture/KT.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                    <h4>3. KT สีน้ำตาล</h4>
                    <p>กระดาษ KT สีน้ำตาล ได้รับความนิยมสูงในการใช้งานเพื่อจัดส่งออกสินค้า
                        เนื่องจากสามารถวางเรียงซ้อนได้ง่าย ช่วยในเรื่องของประหยัดพื้นที่
                        แถมยังเป็นบรรจุภัณฑ์สินค้าที่เน้นการอนุรักษ์สิ่งแวดล้อม
                        ช่วยให้บริษัทหรือธุรกิจของท่านได้รับความเชื่อถือมากยิ่งขึ้
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;height: 30rem;">
                <img class="card-img-top"
                    src="assets/picture/KI.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                    <h4>4. KI สีครีม</h4>
                    <p>กระดาษ KI มีพื้นผิวเป็นสีน้ำตาลอ่อน โดยไม่มีการย้อมสีเลยแม้แต่น้อย
                        ส่วนคุณสมบัตินั้นเป็นกระดาษที่สามารถรับแรงกระแทก และแรงกดทับได้ดี และยังสามารถวางเรียงซ้อนกันได้
                        ทั้งยังมีราคาที่ค่อนข้างต่ำ จึงทำให้ช่วยลดต้นทุนในเรื่องของบรรจุภัณฑ์ได้อีกด้วย
                    </p>
                </div>
            </div>
        </div>
        <div class="container" style="padding: 50px;">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;height: 30rem;">
                        <img class="card-img-top" src="assets/picture/CA.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                            <h4>5. CA สีน้ำตาลอ่อน</h4>
                            <p>กระดาษชนิดนี้ นิยมนำมาใช้เป็นลอนลูกฟูก หรือนำมาปูรองเยื่อกระดาษอื่นๆ
                                เพื่อช่วยเพิ่มคุณสมบัติต่างๆของกระดาษ ทั้งช่วยให้มีความแข็งแรง รับแรงกระแทก
                                และอื่นๆตามที่ต้องการ ซึ่งนอกจากนี้กระดาษ CA ยังนิยมนำมาใช้ทำเป็นผลิตกล่องกระดาษด้านหลัง
                                เพื่อช่วยลดต้นทุนในการผลิตได้เช่นกัน
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;height: 30rem;">
                        <img class="card-img-top" src="assets/picture/KL.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                            <h4>6. KL สีน้ำตาลคล้ำ</h4>
                            <p>การดาษ KL เป็นกระดาษคราฟท์สีธรรมชาติ ไม่มีการผสมเม็ดสี นิยมใช้ทำเป็นกระดาษผิวกล่อง
                                มีคุณสมบัติเหนียว ทนทาน กันแรงกระแทก ได้ดี
                                จึงสามารถรองรับสินค้าที่มีน้ำหนักมาก
                                หรือสินค้าที่ต้องมีการซ้อนชั้นเป็นระยะเวลานานระหว่างการขนส่ง
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;height: 30rem;">
                        <img class="card-img-top" src="assets/picture/KK.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                            <h4>7. KK สีน้ำตลาลโทนเข้ม</h4>
                            <p>กระดาษ KK เป็นเนื้อกระดาษสีโทนเข้ม นิยมอย่างมากในตลาดของประเทศจีน
                                เพราะราคาต่ำกว่าเนื้อกระดาษชนิดอื่นเเละมีเเกรมกระดาษให้ปรับความเเข็งเเรงได้อย่างหลากหลาย
                                โดยเนื้อกระดาษ KK สามารถพิมพ์สีได้เหมือนทุกสเปคครับ
                                เเต่อาจจะหนักไปทางสีโทนเข้มเนื่องจากสีเนื้อกระดาษ KK ค่อนข้างกลืนสีอยู่พอสมควร
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;height: 30rem;">
                        <img class="card-img-top" src="assets/picture/KH.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                            <h4>8. KH สีน้ำตาลอมเหลือง</h4>
                            <p>กระดาษทำผิวกล่องสีน้ำตาล
                                โทนสีใกล้เคียงกับสีกระดาษที่นิยมในแถบอเมริกาหรือกล่องสำหรับสินค้าที่ส่งไปขายแถบนั้น
                                กระดาษมีความแข็งแกร่งสูง สามารถรับแรงกระแทกและการเรียงซ้อนได้ดีเยี่ยม
                                เหมาะสำหรับผลิตบรรจุภัณฑ์สินค้าเพื่อการส่งออกหรือสินค้าที่มีน้ำหนักมาก
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>