<nav class="site-header sticky-top py-1">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">CARTON BOX</h1>
            <p class="lead font-weight-normal">กล่องกระดาษที่ผลิตมาจากวัสดุอย่างกระดาษลูกฟูก
                และมักจะใช้กับกล่องที่มีขนาดใหญ่ที่สามารถบรรจุสิ่งของที่แบ่งเป็นหน่วยๆได้ภายในกล่องเดียว อาทิเช่น
                ใส่ขวดน้ำแบบยกลัง ใส่ผงซักฟอก เป็นต้น ถือว่าเป็นกล่องอีกประเภทที่สามารถบรรจุสิ่งของได้หลากหลาย</p>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="container">
        <div class="row" id="features" style=" display: flex; align-items: center;">
            <div class="col-sm-6 feature">
                <img src="assets/picture/Box_DieCut.jpg" alt="Web Design" class="img-circle" style="height: 300px;">
            </div><!--END feature-->

            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">CARTON BOX RSC</h1>
                <p class="lead font-weight-normal">กล่อง RSC เป็นกล่องกระดาษแบบฝาชนที่มีลักษณะเป็นทรงเหลี่ยม
                    รูปแบบที่เปิดด้านบนของกล่อง ฝาเปิดปิดชนกันสนิท ทำมาจากวัสดุอย่างกระดาษลูกฟูก
                    ถือว่าเป็นวัสดุที่เป็นมิตรต่อสิ่งแวดล้อม ย่อยสลายง่าย ไม่ก่อให้เกิดมลพิษต่อสภาพแวดล้อม กล่องแบบ RSC
                    มักใช้ผลิตเป็นบรรจุภัณฑ์ที่ใช้สำหรับบรรจุสินค้าทั่วไปที่ไม่เน้นความแข็งแรงมากนัก
                    และวัสดุอย่างกระดาษลูกฟูกที่ใช้ในการผลิตกล่องประเภทนี้</p>
            </div>
        </div><!--end features-->
    </div><!--end container-->

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light    ">
        <div class="row" id="features" style=" display: flex; align-items: center;">
            <div class="col-md-5 p-lg-5 mx-auto my-5 ">
                <h1 class="display-4 font-weight-normal ">CARTON BOX OSC </h1>
                <p class="lead font-weight-normal">กล่องฝาเกย OSC (Overlap Slotted Container)
                    เป็นกล่องกระดาษลูกฟูกที่มีลักษณะเป็นสี่เหลี่ยมผืนผ้า มีฝาเปิดปิด 4 ฝา ทั้งด้านบนและด้านล่าง
                    เวลาปิดฝา ฝาด้านนอกจะเกยกันพอดีตัวกล่อง กล่องฝาเกยผลิตจากกระดาษคราฟลูกฟูก
                    เหมาะสำหรับบรรจุสินค้าที่มีความแบนหรือยาว และสินค้าที่ต้องการการป้องกัน เช่น แผ่นไม้ ร่ม
                    เฟอร์นิเจอร์ อะไหล่ยนต์ เป็นต้น กล่องฝาเกยมีความแข็งแรงและทนทาน
                    สามารถปกป้องสินค้าจากการกระแทกและการบุบสลายได้ดี
                    กล่องฝาเกยยังประหยัดพื้นที่ในการจัดเก็บและขนส่งอีกด้วย</p>
            </div>

            <div class="col-sm-6 feature">
                <img src="assets/picture/Box_slot_01.jpg" alt="Web Design" class="img-circle" style="height: 300px;">
            </div><!--END feature-->


        </div><!--end features-->
    </div><!--end container-->

    <div class="container">
        <div class="row" id="features" style=" display: flex; align-items: center;">
            <div class="col-sm-6 feature">
                <img src="assets/picture/Box_DieCut_01.jpg" alt="Web Design" class="img-circle" style="height: 300px;">
            </div><!--END feature-->

            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">CARTON BOX Die Cut: หูช้าง</h1>
                <p class="lead font-weight-normal">กล่องหูช้าง มีลักษณะเป็นกล่องไดคัทที่สามารถขึ้นรูปทรงเป็นขนาดต่างๆ
                    ตามการออกแบบไดคัท โดยไม่ต้องใช้อุปกรณ์ช่วยปิดผนึกอย่างกาวหรือเทปกาว
                    การปิดกล่องประเภทนี้จะเป็นการเสียบฝาปิด บริเวณฝาของกล่องมีลักษณะเป็นทรงโค้งคล้ายหูช้าง
                    สามารถเสียบเข้าด้านข้างของกล่องได้เลย จึงนิยมเรียกกล่องประเภทนี้กันอย่างติดปากว่า กล่องหูช้างซึ่ง
                    ได้รับความนิยมนำมาใส่สินค้าและผลิตภัณฑ์ต่างๆ จากลักษณะของตัวกล่องที่มีความเรียบง่าย
                    สามารถเขียนหรือพิมพ์ลวดลายลงบนกล่องได้เลย หรือแค่ผูกโบว์เพียงชิ้นเดียวก็ทำให้กล่องดูดีขึ้นทันที
                    เหมาะนำไปใช้ใส่สินค้าหรือผลิตภัณฑ์ขนาดเล็กจนถึงขนาดกลาง เช่น สินค้าแฮนด์เมด, ของ Gift Set,
                    อุปกรณ์ขนาดเล็ก หรือสินค้าออนไลน์ทั่วไปที่จะจัดส่งในปริมาณไม่มาก เป็นต้น</p>
            </div>
        </div><!--end features-->
    </div><!--end container-->

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="row" id="features" style=" display: flex; align-items: center;">

            <div class="col-md-5 p-lg-5 mx-auto my-5 bg-light">
                <h1 class="display-4 font-weight-normal">CARTON BOX Tray</h1>
                <p class="lead font-weight-normal">กล่องถาด เป็นกล่องกระดาษ Slot ร่อง 4 ด้าน
                    เพื่อให้สามารถประกบขึ้นรูปได้ โดยการเย็บลวด ปะกาว หรือ การติดเทป ขึ้นอยู่กับความสะดวกของผู้ใช้งาน
                    โดยทางโรงงานมีบริการเย็บลวดให้ ส่วนการประกบรูปแบบอื่น ลูกค้าต้องนำไปประกบเอง
                    ตัวกล่องมีลักษณะคล้ายกับ กล่องฝาครอบแบบไดคัท โดยมีความเเตกต่างกันที่การขึ้นรูปเท่านั้น
                    แต่การใช้งานเหมือนกัน ตัวกล่องทำหน้าที่ได้หลากหลายแบบ เช่น ทำเป็นถาด ทำเป็นกล่องฝาครอบประกบกัน
                    หรือการนำไปทำเป็นฝา เพื่อปิดกล่องรูปแบบอื่นๆ ได้อีกด้วย
                    ซึ่งกล่องชนิดนี้เหมาะสำหรับสินค้าที่มีลักษณะแบน เช่น พรม โต๊ะ แผ่นไม้ แผ่นเหล็ก ต่างๆ
                    หรือสินค้าประเภทผักผลไม้ นอกเหนือไปกว่านั้น
                    ทางเรายังสามารถเจาะรูหูหิ้วบนตัวกล่องเพื่อความสะดวกต่อการเคลื่อนย้ายได้อีกด้วย ข้อดีของกล่องถาด คือ
                    มีราคาไม่เเพง เพราะ เป็นกล่องที่ไม่ต้องไดคัท อย่างไรก็ตาม
                    เมื่อขึ้นรูปแล้วจะไม่สามาถพับเก็บได้จึงค่อนข้างเปลืองเนื้อที่ในการจัดเก็บและจัดส่ง
                    ซึ่งจะเป็นข้อเสียของกล่องชนิดนี้</p>
            </div>

            <div class="col-sm-6 feature">
                <img src="assets/picture/Tray.jpg" alt="Tray" class="img-circle" style="height: 300px;">
            </div><!--END feature-->


        </div><!--end features-->
    </div><!--end container-->

</nav>